.not-found-bg {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
}
.not-found-main-container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found-image {
  height: 250px;
}
.not-found-main-text {
  font-family: Roboto;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}
.not-found-text {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .not-found-main-container {
    width: 50vw;
  }
}
