.nav-link-similar-jobs {
  text-decoration: none;
  background-color: #272727;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 100%;
}

.similar-jobs-li {
  background-color: #272727;
  border-radius: 10px;
  width: 100%;
  min-width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}
.similar-jobs-top-info {
  display: flex;
  align-items: center;
}
.similar-jobs-top-logo {
  height: 75px;
  align-self: flex-start;
}
.similar-jobs-top-text-container {
  margin-left: 10px;
}
.similar-jobs-title {
  font-family: Roboto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.similar-jobs-rating-container {
  display: flex;
  align-items: center;
}
.similar-jobs-star {
  font-size: 20px;
  color: #fbbf24;
}
.similar-jobs-rating {
  font-family: Roboto;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  margin-left: 8px;
}
.similar-job-description {
  font-family: Roboto;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
}
.similar-jobs-description-content {
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
}
.similar-jobs-info {
  display: flex;
  align-items: center;
}
.similar-jobs-info-sub {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.similar-jobs-info-icon {
  font-size: 20px;
  color: #ffffff;
}
.similar-jobs-info-text {
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .nav-link-similar-jobs {
    width: 30%;
    min-width: 340px;
  }
  .similar-jobs-li {
    background-color: #272727;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
